<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="header">
        <div class="container">
            <h5 class="text">
                <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
            </h5>
            <h5 class="text">
              活動管理
            </h5>
            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/actview"]'>活動審查</li>
              <li>通知</li>
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/publish"]'>發布活動</li>
            </ul>


            <h5 class="text">
                活動申請區
            </h5>
    
            <ul class="menu">
                <li>查詢活動申請</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
            </ul>
            <h5 class="text">
              目前的活動
            </h5>

            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
            </ul>

            <h5 class="text">
              個人化設定
            </h5>
            <h5 class="text">
              登出
            </h5>
    
           
        </div>
    </div>
    
    <div class="content">
        <div class="container">
            
        </div>
    </div>
    </div>
    <div class="col-1">

    </div>
    <div class="col">
      網站名稱
    </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <table width=200 style="border:3px #cccccc solid;">
        <tr><td>跑馬燈(系統公告)</td>
        </table>
    </div>
  </div>