<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-2">
      <h3>朝陽歌唱大會</h3>
    </div>
    <div class="col">
      活動時間：2025.05.31&emsp;17:00
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col">
      活動地點：臺中市霧峰區吉峰東路168號
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col">
      活動簡介：朝陽歌唱大會在朝陽科大操場舉辦，邀請全校師生一起來觀賞。
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      
    </div>
    <div class="col">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">活動參與人員</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">留言管理</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <br>
          <div class="row">
            <div class="col-2">
              <h3>地區&emsp;<button type="button" class="btn btn-secondary">全部</button></h3>
            </div>
            <div class="col">
              <h3>年齡&emsp;<button type="button" class="btn btn-secondary">全部</button></h3>
            </div>
          </div>
          <hr>
          <p style="text-align: right;">目前人數：4人</p>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">參與者姓名</th>
                <th scope="col">地區</th>
                <th scope="col">年齡</th>
                <th scope="col">連絡電話</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>張三</td>
                <td>新北</td>
                <td>23</td>
                <td>0909123456</td>
                <td>aed123@gmail.com</td>
              </tr>
              <tr>
                <td>張家瑋</td>
                <td>新竹</td>
                <td>99</td>
                <td>0909123123</td>
                <td>abc123@gmail.com</td>
              </tr>
              <tr>
                <td>李四</td>
                <td>南投</td>
                <td>26</td>
                <td>0909456789</td>
                <td>abe456@yahoo.com.tw</td>
              </tr>
              <tr>
                <td>王五</td>
                <td>高雄</td>
                <td>29</td>
                <td>0909878787</td>
                <td>cye789@gmail.com</td>
              </tr>
            </tbody>
          </table>  
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <hr>
          <form style="border:3px #111111 solid;" cellpadding="570">
            <div class="row">
              <div class="col-1">
                <div class="img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRET6DpAx-SQTZ6UlCGyAf8IYpbbsjmFH-yIg&usqp=CAU" width="50" height="50">
                </div>
              </div>
              <div class="col-1">
                <div class="text">
                  <h3>張三</h3>
                </div>
              </div>
              <div class="col-7">

              </div>
              <div class="col-2">
                2025.05.20&emsp;13:49
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-dark">刪除</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-md-8">
                <input type="text" class="form-control" placeholder="留言內容">
              </div>
            </div>
          </form>
          <br>

          <form style="border:3px #111111 solid;" cellpadding="570">
            <div class="row">
              <div class="col-1">
                <div class="img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRET6DpAx-SQTZ6UlCGyAf8IYpbbsjmFH-yIg&usqp=CAU" width="50" height="50">
                </div>
              </div>
              <div class="col-1">
                <div class="text">
                  <h3>李四</h3>
                </div>
              </div>
              <div class="col-7">

              </div>
              <div class="col-2">
                2025.05.19&emsp;08:21
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-dark">刪除</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-md-8">
                <input type="text" class="form-control" placeholder="留言內容">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-2">
  <h5 class="text">
    <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
  </h5>
  <h5 class="text">
    活動管理
  </h5>
  <ul class="menu">
    <li>活動審查</li>
    <li>通知</li>
    <li>發布活動</li>
  </ul>


  <h5 class="text">
      活動申請區
  </h5>

  <ul class="menu">
      <li>查詢活動申請</li>
      <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
      <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
  </ul>
  <h5 class="text">
    目前的活動
  </h5>

  <ul class="menu">
    <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
  </ul>

  <h5 class="text">
    個人化設定
  </h5>
  <h5 class="text">
    登出
  </h5>
</div>



    
