<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col">
      <h4>所有活動</h4>
      <hr>
    </div>
  </div>
    <div class="row">
      <div class="col-2">
        <div class="header">
          <div class="container">
            <h5 class="text">
              <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
            </h5>
            <h5 class="text">
              活動管理
            </h5>
            <ul class="menu">
              <li>活動審查</li>
              <li>通知</li>
              <li>發布活動</li>
            </ul>


            <h5 class="text">
                活動申請區
            </h5>
    
            <ul class="menu">
                <li>查詢活動申請</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
            </ul>
            <h5 class="text">
              目前的活動
            </h5>

            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
            </ul>

            <h5 class="text">
              個人化設定
            </h5>
            <h5 class="text">
              登出
            </h5>
          </div>
        </div>
      </div>
      <div class="col-1">

      </div>
      <div class="col-6">
        <div  class="row my-4">
          <div class="col-12 col-lg text-center">
            <img class="img-fluid w-100"
                src="https://images.chinatimes.com/newsphoto/2021-05-19/656/20210519002064.jpg" onmouseover="this.style.cursor='pointer';" style="cursor:hand"  a [routerLink]='["/cyut"]' alt ="">
          </div>
          <div class="col-12 col-lg">

            <p>朝陽歌唱大會</p>
            <p>活動時間：2025.05.31 17:00</p>
            <p>活動地點：臺中市霧峰區吉峰東路168號</p>
            <p>活動簡介：朝陽歌唱大會在朝陽科大操場舉辦，邀請全校師生一起來觀賞。</p>
          </div>
        </div> <!-- row end -->
      </div>
    





    </div>
</div>

