<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col">
      <h4>帳號管理</h4>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col-2">
        <div class="header">
          <div class="container">
            <h5 class="text">
              <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
            </h5>
            <h5 class="text">
              活動管理
            </h5>
            <ul class="menu">
              <li>活動審查</li>
              <li>通知</li>
              <li>發布活動</li>
            </ul>


            <h5 class="text">
                活動申請區
            </h5>
    
            <ul class="menu">
                <li>查詢活動申請</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
            </ul>
            <h5 class="text">
              目前的活動
            </h5>

            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
            </ul>

            <h5 class="text">
              個人化設定
            </h5>
            <h5 class="text">
              登出
            </h5>
          </div>
        </div>
      </div>
      <div class="col-1">

      </div>
      <div class="col">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">帳號名稱</th>
                <th scope="col">管理</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>無名氏</td>
                  <td>
                    <select>
                        <option>無動作</option>
                        <option>停止留言</option>
                        <option>停止申請</option>
                        <option>停止所有權限</option>
                        <option>刪除帳號</option>
                    </select> 
                  </td>
                </tr>
                <tr>
                  <td>張三</td>
                  <td>
                    <select>
                        <option>無動作</option>
                        <option>停止留言</option>
                        <option>停止申請</option>
                        <option>停止所有權限</option>
                        <option>刪除帳號</option>
                    </select>      
                  </td>
                </tr>
                <tr>
                  <td>李四</td>
                  <td>
                    <select>
                        <option>無動作</option>
                        <option>停止留言</option>
                        <option>停止申請</option>
                        <option>停止所有權限</option>
                        <option>刪除帳號</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>王五</td>
                  <td>
                    <select>
                        <option>無動作</option>
                        <option>停止留言</option>
                        <option>停止申請</option>
                        <option>停止所有權限</option>
                        <option>刪除帳號</option>
                    </select>
                  </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>


