<div class="row">
    <div class="col-4">
        <div class="text">
           <p>LOGO</p>
        </div>
    </div>

    <div class="col-5">
        <div class="wrap">
            <div class="search">
                <input class="search-bar" type="text" name="search" [value]="searchWords" placeholder="請輸入關鍵字"
                  (keyup)="onKeyup($event)"
                >
                <button class="search-btn"  (click)="search()"><i class="fas fa-search"></i> Search </button>
            </div>
        </div>
    </div>

    <div class="col-1">
        <div class="button">
            <button type="button" class="btn btn-outline-primary" [routerLink]='["/management"]'>管理者</button>
        </div>
    </div>

    <div class="col-1">
        <div class="button">
            <button type="button" class="btn btn-outline-primary" [routerLink]=''>登入</button>
        </div>
    </div>
    <div class="col">
        <div class="button">
            <button type="button" class="btn btn-outline-primary" [routerLink]=''>註冊</button>
        </div>
    </div>
</div>
<br>
<br>

<div class="row">
    <ul class="nav nav-pills nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" a [routerLink]='["/activities"]'>首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" a [routerLink]='["/tickets"]'>活動</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" a [routerLink]='["/message"]'>討論區</a>
        </li>
    </ul>
</div>
