<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-5">
      <h3>五月天[ 好好好想見到你 ] 演唱會</h3>
    </div>
    <div class="col">
        活動時間：2021.04.10
    </div>
    <div class="col">
        <div style="border-width: 3px; border-style:solid ; width: 150px; border-color: rgb(255, 0, 0); padding: 5px; text-align: center;">
            活動已過期
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col">
        活動地點：臺南市立體育場
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col">
        活動簡介：2020五月天[ 好好好想見到你 ] 跨年演唱會，3個城市桃園 台中 台南15場次帶你飛向2021。
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      
    </div>
    <div class="col">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">留言管理</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <hr>
          <form style="border:3px #111111 solid;" cellpadding="570">
            <div class="row">
              <div class="col-1">
                <div class="img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRET6DpAx-SQTZ6UlCGyAf8IYpbbsjmFH-yIg&usqp=CAU" width="50" height="50">
                </div>
              </div>
              <div class="col-1">
                <div class="text">
                  <h3>王五</h3>
                </div>
              </div>
              <div class="col-7">

              </div>
              <div class="col-2">
                2025.05.20&emsp;13:49
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-dark">刪除</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-md-8">
                不錯
              </div>
            </div>
          </form>
          <br>

          <form style="border:3px #111111 solid;" cellpadding="570">
            <div class="row">
              <div class="col-1">
                <div class="img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRET6DpAx-SQTZ6UlCGyAf8IYpbbsjmFH-yIg&usqp=CAU" width="50" height="50">
                </div>
              </div>
              <div class="col-1">
                <div class="text">
                  <h3>李四</h3>
                </div>
              </div>
              <div class="col-7">

              </div>
              <div class="col-2">
                2025.05.19&emsp;08:21
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-dark">刪除</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-md-8">
                好
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-2">
  <h5 class="text">
    <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
  </h5>
  <h5 class="text">
    活動管理
  </h5>
  <ul class="menu">
    <li>活動審查</li>
    <li>通知</li>
    <li>發布活動</li>
  </ul>


  <h5 class="text">
      活動申請區
  </h5>

  <ul class="menu">
      <li>查詢活動申請</li>
      <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
      <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
  </ul>
  <h5 class="text">
    目前的活動
  </h5>

  <ul class="menu">
    <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
  </ul>

  <h5 class="text">
    個人化設定
  </h5>
  <h5 class="text">
    登出
  </h5>
</div>



    

