<br>
<div class="container">
  <div class="card" style="width:80rem;">
    <div class="row" *ngFor=" let may of activities">
      <br><h1 class="card-title"><p>{{may.title}}</p></h1><br>
      <img src="{{may.img}}" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">{{may.intro}}</p>
      </div>

    <div class="row">
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>報名期限：{{may.startDate | date: 'yyyy/mm/dd'}} 〜
                                                    {{may.endDate | date: 'yyyy/mm/dd'}}
            </p>
          </li>
          <li class="list-group-item"><p>活動時間：{{may.actDate | date: 'yyyy/mm/dd'}}</p></li>
          <li class="list-group-item"><p>地點：{{may.venue}}</p></li>

<!--          google map-->
          <iframe
            width="600"
            height="450"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDxzenQB6idMuQr6uusIAc4ZTjMVNPG7xQ&origin=朝陽科技大學&destination=台南市體育場">
          </iframe>
          <div class="card-body">
            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
              提醒我
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">活動參加提醒</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="display:block; margin:auto;">
                    <ul class="list-group">
                      <li class="list-group-item"><p>{{may.title}}</p></li>
                      <li class="list-group-item"><p>活動時間：{{may.actDate | date: 'yyyy/mm/dd'}}</p></li>
                      <li class="list-group-item"><p>地點：{{may.venue}}</p></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="myBtn">郵件提醒</button>
                    <div class="toast">
                      <div class="toast-header">
                        活動參加提醒
                      </div>
                      <div class="toast-body">
                        Success
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="myBtn1">簡訊提醒</button>
                    <div class="toast">
                      <div class="toast-header">
                        活動參加提醒
                      </div>
                      <div class="toast-body">
                        Success
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-success btn-sm">參加活動</button>
          </div>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">主辦單位:{{may.organizer}}</li>
          <li class="list-group-item">費用資訊票價：一般場次1000NT</li>
          <li class="list-group-item">電話：{{may.phone}}</li>
          <li class="list-group-item">Email：{{may.email}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
