<br>
<br>
<div class="row">
    <div class="col-4">
        <div id="con">
            <h4 class="top"></h4>
            <h1></h1>
            <h5>活動類別</h5>
            <div>
            <ul>
            <li [routerLink]='["/category"]'>人文藝術</li>
            <li>運動休閒</li>
            <li>社團系會</li>
            <li>其他</li>
            </ul>
            </div>
            <h5>興趣類別</h5>
            <div>
            <ul>
            <li>演唱會</li>
            <li [routerLink]='["/interest"]'>大師講座</li>
            <li>藝文展覽</li>
            <li>其他</li>
            </ul>
            </div>           
    </div>
</div>
    <div class="col-3">
        <ul>
            <img src="https://i.imgur.com/gK7BbH1.png" alt =""> 
        </ul>
        <br>
        <ul>
            <img src="https://i.imgur.com/oklkaAj.png" a [routerLink]='["/may"]' alt =""> 
        </ul>
        
    </div>
    <div class="col-4">
        <ul>
            <h6>MUSIC IS LIFE 共好草地音樂會</h6>
                <h6> 報名期限：2021-02-22~2021-02-22</h6>
                    <h6> 地點：台南市</h6>
                        <h6> 簡介：MUSIC IS LIFE是一種生活進行《音樂即是生活》。星期六的悠閒午後，請和我們在青青草地上共享在地音樂，與家人朋友吃飯，逛逛美食城集，為生活充沛的能量，繼續往前，讓“共好”持續發光！</h6>
        </ul>
        <br>
        <br>
        <ul>
            <h6>五月天[ 好好好想見到你 ] 演唱會</h6>
                <h6> 報名期限：2021-03-20~ 2021-03-29</h6>
                    <h6> 地點：台南市</h6>
                        <h6> 簡介：2020五月天[好好好想見到你]跨年演唱會，3個城市桃園台中台南15場次帶你飛向2021。</h6>
        </ul>
        
    </div>
