
  <div id="app" class="container" >
 
    <h3>{{"留言板"}}：</h3>
    <table style="border:3px #cccccc solid;" cellpadding="570" >
      <tr><td></td>
      </table>
    
    <ul class="form-group" style="max-height: 300px;overflow: auto;">
   
    
   
    </ul>
   
    <br>
   
    
   
    <div class="form-group">
   
     
   
     
   
     </div>
   
     <div class="form-group">
   
    
   
    <div class="col-sm-11">
   
     <textarea id="content" class="form-control" rows="3" v-model="content"></textarea>
   
    </div>
   
     </div>
   
     <button type="button" class="btn btn-success col-sm-1 col-sm-push-9" click="add" >新增</button>
   
     <button type="button" class="btn btn-danger col-sm-1 col-sm-push-10" click="clear" >刪除</button>
   
   
     
   
  </div> 
