<div class="row">
    <div class="col-4">
        <div id="con">
            <h4 class="top"></h4>
            <h1></h1>
            <h5>活動類別</h5>
            <div>
            <ul>
            <li [routerLink]='["/category"]'>人文藝術</li>
            <li>運動休閒</li>
            <li>社團系會</li>
            <li>其他</li>
            </ul>
            </div>
            <h5>興趣類別</h5>
            <div>
            <ul>
            <li>演唱會</li>
            <li>大師講座</li>
            <li [routerLink]='["/interest"]'>藝文展覽</li>
            <li>其他</li>
            </ul>
            </div>           
    </div>
</div>
    <div class="col-4">
        <ul>
            <img src="https://i.imgur.com/75Hymt1.png" alt =""> 
        </ul>
        
    </div>
    <div class="col-4">
        <ul>
            <h6>2019海賊王特展「ONE PIECE動畫20週年紀念特展」</h6>
                <h6> 報名期限：2019-07-05~2019-09-22</h6>
                    <h6> 地點：台北松山文創園區4號5號倉庫</h6>
                        <h6> 簡介：台灣第一場規模最大！五感體驗 ONE PIECE 動畫 20週年紀念特展， 2019年 07月05日起，正式於台北松山文創園區登場！</h6>
        </ul>
        
    </div>
