<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <br>
    <div class="row">
      <div class="col-2">
        <div class="header">
          <div class="container">
            <h5 class="text">
              <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
            </h5>
            <h5 class="text">
              活動管理
            </h5>
            <ul class="menu">
              <li>活動審查</li>
              <li>通知</li>
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/publish"]'>發布活動</li>
            </ul>


            <h5 class="text">
                活動申請區
            </h5>
    
            <ul class="menu">
                <li>查詢活動申請</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
            </ul>
            <h5 class="text">
              目前的活動
            </h5>

            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
            </ul>

            <h5 class="text">
              個人化設定
            </h5>
            <h5 class="text">
              登出
            </h5>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div id="box0">
            <h6>主辦單位 : 朝陽科大學生會</h6>
            <h6>活動負責人 : 阿宅 (張XX) </h6>
            <h6>聯繫方式 : (EMAIL)cyut1234@gmail.com</h6>
            <h6>限制人數 : 50人</h6>
            <h6>地點 : 台中市霧峰區吉峰東路168號</h6>
            <h6>活動日期 : 2025.05.31 17:00</h6>
            <h6>活動名稱 : 朝陽歌唱大會</h6>
            <h6>活動簡介 : 朝陽歌唱大會在朝陽科大操場舉辦，邀請全校師生一起來觀賞。</h6>
            <h6>活動內容 : 朝陽歌唱大會有最強卡司，邀請全校師生一起來觀賞。</h6>

            <button type="button" class="btn btn-outline-dark">核准</button>
            <button type="button" class="btn btn-outline-dark" [routerLink]='["/modi"]'>退件修改</button>
        </div>  
      </div>
    </div>
</div>
