<br>
<br>
<div class="container">
  <div class="row">
    <!--    Left-side menu -->
    <div class="col-sm-12 col-md-2">
      <h5 class="text">
        <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand" [routerLink]='["/acc"]'>帳號管理</h5>
      </h5>
      <h5 class="text">
        活動管理
      </h5>
      <ul class="menu">
        <li>活動審查</li>
        <li>通知</li>
        <li>發布活動</li>
      </ul>


      <h5 class="text">
        活動申請區
      </h5>

      <ul class="menu">
        <li>查詢活動申請</li>
        <li onmouseover="this.style.cursor='pointer';" style="cursor:hand" [routerLink]='["/application"]'>活動申請書</li>
        <li onmouseover="this.style.cursor='pointer';" style="cursor:hand" [routerLink]='["/search"]'>歷年活動查看</li>
      </ul>
      <h5 class="text">
        目前的活動
      </h5>

      <ul class="menu">
        <li onmouseover="this.style.cursor='pointer';" style="cursor:hand" [routerLink]='["/events"]'>所有活動</li>
      </ul>

      <h5 class="text">
        個人化設定
      </h5>
      <h5 class="text">
        登出
      </h5>
    </div>

    <div class="col-sm-12 col-md-10">
      <!--        application form area-->
      <h5 class="d=text">
        活動申請書
      </h5>
      <form (ngSubmit)="submit()">
        <div class="form-group">
          <label class="col-form-label">主辦單位</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"  id="inlineRadio1" value="校內"
                     [(ngModel)]="activityApplication.organizer" name="host">
              <label class="form-check-label" for="inlineRadio1">校內</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"  id="inlineRadio2" value="校外"
                     [(ngModel)]="activityApplication.organizer" name="host">
              <label class="form-check-label" for="inlineRadio2">校外</label>
            </div>
        </div>

        <div class="form-group">
          <label for="inputRespPerson" class="col-form-label">活動負責人</label>
            <input type="text" class="form-control" id="inputRespPerson" placeholder=""
            [(ngModel)]="activityApplication.activity_leader" name="leader">
        </div>
        <div class="form-group">
          <label for="inputContact" class=" col-form-label">聯絡電話</label>
            <input type="text"  class="form-control" id="inputContact" placeholder=""
            [(ngModel)]="activityApplication.phone" name="phone">
        </div>
        <div class="form-group">
          <label for="inputEmail" class=" col-form-label">聯絡信箱</label>
          <input type="text"  class="form-control" id="inputEmail" placeholder=""
                 [(ngModel)]="activityApplication.email" name="email">
        </div>
        <div class="form-group">
          <label for="inputLimits" class=" col-form-label">限制人數</label>
            <input type="number"  class="form-control" id="inputLimits" placeholder=""
            [(ngModel)]="activityApplication.credit_limit" name="limit">
        </div>
        <div class="form-group">
          <label for="inputVenue" class=" col-form-label">地點</label>
            <input type="text"  class="form-control" id="inputVenue" placeholder=""
            [(ngModel)]="activityApplication.venue" name="venue">
        </div>
        <div class="form-group">
          <label for="inputActDate" class=" col-form-label">活動時間</label>
<!--          ref: https://stackoverflow.com/questions/37055311/angular-2-how-to-use-javascript-date-object-with-ngmodel-two-way-binding-->
            <input type="date"  class="form-control" id="inputActDate"
            [ngModel]="activityApplication.act_date | date: 'yyyy-MM-dd'"
                   (ngModelChange)="activityApplication.act_date = $event"
                   name="actDate">
        </div>
        <div class="form-group">
          <label for="inputActName" class=" col-form-label">活動名稱</label>
            <input type="text"  class="form-control" id="inputActName" placeholder=""
            [(ngModel)]="activityApplication.activity_name" name="actName">

        </div>
        <div class="form-group">
          <label for="inputActIntro" class=" col-form-label">活動簡介</label>
            <input type="text"  class="form-control" id="inputActIntro" placeholder=""
            [(ngModel)]="activityApplication.intro" name="actIntro">
        </div>
        <div class="form-group">
          <label for="inputActContent" class=" col-form-label">活動內容</label>
            <input type="text"  class="form-control" id="inputActContent" placeholder=""
            [(ngModel)]="activityApplication.content" name="actContent">
        </div>
        <div class="form-group">
          <label for="inputActCategory" class=" col-form-label">活動類別</label>
            <select  id='inputActCategory'
                    class="form-select"
                    [(ngModel)]="activityApplication.activity_category" name="actCategory">
                <option value="人文藝術">人文藝術</option>
                <option value="運動休閒">運動休閒</option>
                <option value="社團系會">社團系會</option>
                <option value="其他">其他</option>
            </select>
        </div>
        <div class="form-group">
          <label for="inputInterestCategory" class=" col-form-label">興趣類別</label>
          <select id='inputInterestCategory'
                  class="form-select"
                  [(ngModel)]="activityApplication.interest_category" name="interestCategory">
              <option value="演唱會">演唱會</option>
              <option value="大師講座">大師講座</option>
              <option value="藝文展覽">藝文展覽</option>
              <option value="其他">其他</option>
          </select>
        </div>
        <button type="submit"
          style="display:block; margin:auto;" class="btn btn-outline-danger btn-sm"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
          提交申請書
        </button>
        <div class="modal-footer">
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">成功</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display:block; margin:auto;">
                  success
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      {{this.activityApplication | json}}
    </div>
  </div>

</div>
