<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
        
    </div>
    <div class="col">
        <h4>發布活動</h4>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col-2">
        <div class="header">
          <div class="container">
            <h5 class="text">
              <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
            </h5>
            <h5 class="text">
              活動管理
            </h5>
            <ul class="menu">
              <li>活動審查</li>
              <li>通知</li>
              <li>發布活動</li>
            </ul>


            <h5 class="text">
                活動申請區
            </h5>
    
            <ul class="menu">
                <li>查詢活動申請</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
            </ul>
            <h5 class="text">
              目前的活動
            </h5>

            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
            </ul>

            <h5 class="text">
              個人化設定
            </h5>
            <h5 class="text">
              登出
            </h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="box1">
            <h4>朝陽歌唱大會</h4>
            <h6>類別 : 演唱會</h6>
            <h6>活動地點 : 台中市霧峰區吉峰東路168號</h6>
            <h6>活動簡介 : 朝陽歌唱大會在朝陽科大操場舉辦，邀請全校師生一起來觀賞。</h6>
            <h6>活動時間 : 2025.05.31 17:00</h6>
        </div>  
      </div>
      <div class="col">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="height: 3.7cm;">
            發布活動
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body" style="display:block; margin:auto;">
                  <h2>你確定要發布活動嗎?</h2>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">確認</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
