<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col">
      <h4>歷年活動&emsp;(已過期)</h4>
      <hr>
    </div>
  </div>
    <div class="row">
      <div class="col-2">
        <div class="header">
          <div class="container">
            <h5 class="text">
              <h5 onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/acc"]'>帳號管理</h5>
            </h5>
            <h5 class="text">
              活動管理
            </h5>
            <ul class="menu">
              <li>活動審查</li>
              <li>通知</li>
              <li>發布活動</li>
            </ul>


            <h5 class="text">
                活動申請區
            </h5>
    
            <ul class="menu">
                <li>查詢活動申請</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/application"]'>活動申請書</li>
                <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/search"]'>歷年活動查看</li>
            </ul>
            <h5 class="text">
              目前的活動
            </h5>

            <ul class="menu">
              <li onmouseover="this.style.cursor='pointer';" style="cursor:hand"  [routerLink]='["/events"]'>所有活動</li>
            </ul>

            <h5 class="text">
              個人化設定
            </h5>
            <h5 class="text">
              登出
            </h5>   
          </div>
        </div>
      </div>
      <div class="col-1">

      </div>
          <div id="content" class="col-8">
    <!--        本列資料為 Dynamic Data -->
            <div  class="row my-4"  *ngFor=" let activity of  activities">
                <div class="col-12 col-lg text-center">
                  <img class="img-fluid w-100"
                    src="{{activity.img}}" onmouseover="this.style.cursor='pointer';" style="cursor:hand" width="200" height="130"  a [routerLink]='["/mayacti"]' alt ="">
                </div>
              <div class="col-12 col-lg">
    
                <p>{{activity.title}}</p>
                <p> 活動時間：{{activity.actDate | date: 'yyyy/MM/dd'}}</p>
                <p> 地點：{{activity.venue}}</p>
                <p> 簡介：{{activity.intro}}</p>
                
              </div>

            </div> <!-- row end -->

          </div>
    
        </div>
    </div>


