*{box-sizing: border-box;}
body{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.wrap{
   max-width: 960px;
   margin: 20px auto 0 auto;
   height: auto;
}

.search{
    position: relative;
    width: 80%;
    float: left;
}

.search-bar{
    width: 100%;
    height: 32px;
    font-size: 20px;
    border: 3px solid #3D1101;
    background-color: blanchedalmond;
}

.search-btn{
    width: 36px;
    height: 32px;
    background-color: blanchedalmond ;
     color: darkgray;
    outline: none;
    border: 2px solid #3D1101;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

