<br>
<br>
<div class="container">
    <div class="row">
        <div id="sidebar" class="col-4">
            <div id="con">
              <h4 class="top"></h4>
              <h1></h1>
              <h5>活動類別</h5>
              <div>
              <ul>
              <li [routerLink]='["/category"]'>人文藝術</li>
              <li>運動休閒</li>
              <li>社團系會</li>
              <li>其他</li>
              </ul>
              </div>
              <h5>興趣類別</h5>
              <div>
              <ul>
              <li>演唱會</li>
              <li>大師講座</li>
              <li>藝文展覽</li>
              <li [routerLink]='["/interest"]'>其他</li>
              </ul>
              </div>
            </div>
        </div>
      <div id="content" class="col-8">
<!--        本列資料為 Dynamic Data -->
        <div class="row my-4"  *ngFor=" let activity of activities">
          <div class="col-12 col-lg text-center">

            <img class="img-fluid w-100"
                 src="{{activity.img}}" [routerLink]="['/may', activity.id]" alt ="">
          </div>
          <div class="col-12 col-lg">

            <p>{{activity.title}}</p>
            <p> 報名期限：{{activity.startDate | date: 'yyyy/mm/dd'}} 〜
                    {{activity.endDate | date: 'yyyy/mm/dd'}}</p>
            <p> 地點：{{activity.venue}}</p>
            <p> 簡介：{{activity.intro}}</p>
          </div>
        </div>
<!--靜態資料-->


      </div>

    </div>
</div>
