<br>
<br>
<div class="container">
    <div class="row">
      <div class="row">
        <h5 class="card-title">熱門活動</h5>
      </div>
      <br>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.imgur.com/JGG56fB.png" onmouseover="this.style.cursor='pointer';" style="cursor:hand" style="display:block; margin:auto;" class="d-block w-75 " a [routerLink]='["/may"]' alt="First Slide">
          </div>
          <div class="carousel-item">
            <img src="https://www.oakridgecentre.com/wp-content/uploads/2019/01/1024-x-450-CNY-Pig.png" style="display:block; margin:auto;" class="d-block w-75 "  alt="Second Slide">
          </div>
          <div class="carousel-item">
            <img src="https://www.oakridgecentre.com/wp-content/uploads/2018/11/Hanukkah-1024-x-450.png" style="display:block; margin:auto;" class="d-block w-75 " alt="Third Slide">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <h5 class="card-title">推薦活動</h5>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="card-group w-75 h=100">
            <div class="card">
              <img src="https://i.imgur.com/JGG56fB.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">五月天[好好好想見到你]演唱會</h5>
                <p class="card-text">Nothing Now</p>
                <a [routerLink]='["/may"]' class="btn btn-primary">詳細資料</a>
              </div>
            </div>
            <div class="card">
              <img src="https://www.oakridgecentre.com/wp-content/uploads/2019/01/1024-x-450-CNY-Pig.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">天福宮</h5>
                <p class="card-text">Nothing Now</p>
                <a [routerLink]='["/tickets"]' class="btn btn-primary">詳細資料</a>
              </div>
            </div>
            <div class="card">
              <img src="https://www.oakridgecentre.com/wp-content/uploads/2018/11/Hanukkah-1024-x-450.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">宴會</h5>
                <p class="card-text">Nothing Now</p>
                <a [routerLink]='["/tickets"]' class="btn btn-primary">詳細資料</a>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
